/* Reset */
@import '../../../../node_modules/tailwindcss/base.css';

/* Components */
@import '../../../../node_modules/tailwindcss/components.css';

/* Utilities */
@import '../../../../node_modules/tailwindcss/utilities.css';

.vjs-tree-node {
    background: transparent !important;
}

.vjs-tree {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.vjs-tree-node {
    line-height: 1.5rem !important;
}

.vjs-tree-node .vjs-indent-unit {
    width: 2em !important;
}
